*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Poppings', sans-serif;
}
body{
    overflow-x: hidden;
}
.main img{
    height: 300px;
    width: 400px;
    position: absolute;
    top: 20%;
    left: 5%;
    border-radius: 3px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: gainsboro;
}
.images{
    margin-top: 20%;
    margin-left: 50%;
}
#hang{
    height: 65px;
    position: absolute;
    top: 20%;
    left: 39%;
}
#mod{
    position: absolute;
    top: 35%;
    left: 39%;
    height: 54px;
}
#tab{
    background-color: gainsboro;
    opacity: 0.8;
    padding: 5px;
    position: absolute;
    top: 48%;
    left: 39%;
    height: 40px;
}
#bd{
    height: 50px;
    position: absolute;
    left: 39%;
    top: 60%;
}
.content{
    margin-left: 50%;
    margin-top: -11%;
}
h2{
    position: relative;
    left: -3%;
}
#star{
    height: 50px;
    position: relative;
    left: -5%;
}
span{
    font-weight: bold;
    position: relative;
    top: -20px;
    left: -5%;
}
#sp{
    position: relative;
    top: 30px;
    left: -46.3%;
    font-size: medium;
}
#blur{
    position: relative;
    top: 30px;
    left: -46%;
    font-size: small;
    text-decoration: line-through;
    opacity: 0.3;
}
#per{
    cursor: pointer;
    position: relative;
    top: 28px;
    left: -45%;
    font-size: small;
    font-weight: lighter;
    border: 1px solid black;
    padding: 3px;
}
#per:hover {
    background-color: black;
    color: white;
}
p{
    font-size: small;
    position: relative;
    top: 40px;
    left: -2.5%;
    font-weight: 500;
    font: italic;
}
.mol{
    font-size: normal;
    font-weight: bold;
    margin-top: 20px;
}
box{
    font-size: x-small;
    opacity: 0.6;
    position: relative;
    left: 6%;
    top: 20px;
    background-color: #ccc;
    padding: 5px 5px 5px 5px;
    margin: 5px;
}
.cat{
    font-size: normal;
    font-weight: bold;
    margin: 1px 1px 1px 1px;
}
.list{
    opacity: 0.5;
    margin-top: -15px;
    margin-left: 83px;
    font-size: small;
}
.tag{
    font-size: normal;
    font-weight: bold;
    margin-top: 20px;
}
.lis{
    opacity: 0.5;
    margin-top: -15px;
    margin-left: 45px;
    font-size: small;
}
.share{
    font-size: normal;
    font-weight: bold;
    margin-top: 20px;
}
.cart{
    margin-left: 49%;
    margin-top: 5%;
}
.art{
    position: absolute;
    top: 73%;
    left: 48.7%;
    color: white;
    background-color: #000;
    padding: 20px;
    text-align: center;
    font-size: small;
    cursor: pointer;
    text-decoration: none;
}
.art:hover {
    padding: 18px;
}
#number{
    position: relative;
    left: 23%;
    top: 20px;
}
.one{
    background-color: #ccc;
    padding: 8px 8px 8px 8px;
    position: relative; 
    left: 0.3%;
    top: 20%;
}
h3{
    color: #fff;
    background-color: #000;
    padding: 15px;
    text-align: center;
    width: 12%;
    margin-top: 5%;
    margin-left: 5%;
    font-size: small;
    text-transform: uppercase;
    cursor: pointer;
}
h4{
    cursor: pointer;
    margin-top: -3.5%;
    margin-left: 25%;
    font-size: small;
    text-transform: uppercase;
    border: 1px solid grey;
    padding: 15px;
    width: 190px;
    text-align: center;
}
h4:hover {
    background-color: black;
    color: white;
}
h5{
    margin-top: -3.7%;
    margin-left: 45%;
    cursor: pointer;
    font-size: small;
    text-transform: uppercase;
    border: 1px solid grey;
    padding: 15px;
    width: 90px;
    text-align: center;
}
h5:hover {
    background-color: black;
    color: white;
}
h6{
    cursor: pointer;
    margin-top: -3.8%;
    margin-left: 58%;
    font-size: small;
    text-transform: uppercase;
    border: 1px solid grey;
    padding: 15px;
    width: 40px;
    text-align: center;
}
h6:hover {
    background-color: black;
    color: white;
}
.logo{
    height: 15px;
}